<form action="/result" method="POST">
	<label for="sentence">
		Please, enter your sentence:
	</label>
	<textarea name="sentence"></textarea>
	<br /><br />
	<label for="shift_value">
		Please, enter the shift value(0-10):
	</label>	
		<input type="number" name="shift_value">
	<br /><br />
		<input type="submit" value="Encrypt!">
</form>